    #message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* ADICIONA UMA COR VERDE AO TEXTO E UMA MARCA DE SELEÇÃO QUANDO OS REQUISITOS ESTIVEREM CORRETOS  */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* ADICIONA UMA COR VERMELHA AO TEXTO E UM "X" QUANDO OS REQUISITOS FOREM PREENCHIDOS INCORRETAMENTE */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
    
    
    
