html {
	height: 100% !important;
}
body {
	position: relative;
	height: 100%;
	font-size: 14px;
	color: #363940;
}
body .body {
	height: 100%;
}

a, a:hover, a:focus {
	color: #676D75;
}

.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 46, 82, 0.15);
	padding: 20px;
}
.page {
  overflow: hidden;
  background-color: #fff;
  padding: 50px 0;
}
* {
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
*:focus { 
	outline: none !important;
	box-shadow: none !important;
}

/* ===== Fontes do início ===== */

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 26px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
p {
	font: 14px/1.5em "Roboto";
}
.navbar-nav > li > a {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

/* ===== Logo css ===== */

section {
	position: relative;
}
.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #FFF url(../img/page-loader.gif) center center no-repeat;
}

/* ===== Divisor de cada subtítulo ===== */

.devider {
	width: 100%;
	height: 80px;
	background: url('../img/devider.png') no-repeat center center;
	margin: 2px 0 10px;
}

/* ===== Parallax ===== */

.parallax {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-size: cover;
}

#header {
	/*height: 98px; */
}


/* ===== Cor dos textos do início ===== */

.text-main { color: #363940; } 
.text-white { color: #FFF; }
.text-off-white { color: #e7e7e7;}
.text-dark { color: #000; }


/* ===== Navbar ===== */

.navbar {
	margin: 0;
	border: none;

}
.navbar .container {
	padding-left: 50px;
	padding-right: 50px;
}


/* Navbar logo */
.navbar-brand {
	background-repeat: no-repeat;
	background-position: left center;
	width: 150px;
	height: auto;
	padding: 24px 0;
	text-indent: -99999px;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-brand {
	background-image: url(../img/logo.png);
}


/* Navbar links */
.navbar-nav > li > a {
	padding: 30px 0;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}

/* Navbar fixo */
.navbar-fixed-top .container {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-default.navbar-fixed-top .container {
}
.navbar-fixed-top .container {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.navbar-default.navbar-fixed-top.navbar-nav > li > a {
	padding-top: 24px;
	padding-bottom: 24px;
}

/*Cor navbar*/

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
	color: #fff;
}
.navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default, .navbar-default.navbar-fixed-top {
  background-color: #363940;;
}
.navbar-default .navbar-nav > li > a {
	color: #a9a9a9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav>.active>a {
	color: #fff !important;
}
.navbar-default.navbar-fixed-top .navbar-nav > li > a {
	color: #a9a9a9;
}
.navbar-default. .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.active > a {
	color: #fff;
}
.navbar-default .navbar-nav > li.active > a {
	-webkit-box-shadow: inset 0 3px #fff !important;
	-moz-box-shadow: inset 0 3px #fff !important;
	box-shadow: inset 0 3px #fff !important;
}
.navbar-default .dropdown-menu {
	border: 1px solid #000000;
	border-top: 2px solid #000000;
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #000000;
}

/* ===== Fim navbar ===== */


/* ===== Intro do index ===== */

/* Texto do carousel intro */

#text-carousel-intro-section {
	height: 100%;
}
#text-carousel-intro-section .container {
	height: 100%;
}
#text-carousel-intro-section .caption {
	position: relative;
	top: 50%;
	margin-top: -70px;
}
#text-carousel-intro-section .caption h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 60px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#text-carousel-intro-section .caption p {
	letter-spacing: 2px;
	font-size: 16px;
}

#text-carousel-intro-section {
	background-color: #25282a;
}

/* ===== Fim intro ===== */


/* ===== Início progress bar ===== */

.skill-bar {
}
.progress {
	overflow: visible;
	height: 25px;
	margin-bottom: 20px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress .percent {
	position: relative;
	background-color: #222;
	padding: 7px;
	color: #FFF;
	top: -23px;
}
.progress .percent:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -4px;
	bottom: -4px;
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #222;
}
.progress-bar {
	font-size: 10px;
	line-height: 7px;
	text-align: right;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-lebel h6{
	margin-bottom: 10px;
	letter-spacing: 2px;
}

.progress {
	border: 2px solid #363940;
	background-color: transparent;
}
.progress-bar {
	background-color: #FF0000;
}

/* ===== Fim progress bar ===== */

/* ===== Início seleções ===== */

.selecoes {
	position: relative;
	overflow: hidden;
	padding: 100px 0;
}

.selecoes .cover {
	background-color: rgba(0, 7, 11, 0.77);
}
.selecoes-inner {
	position: relative;
	max-width: 600px;
	z-index: 9;
}
.selecoes-inner .heading {
	margin-bottom: 20px;
}
.selecoes-inner blockquote {
	border: none;
}
.selecoes-inner blockquote h2 {
    padding-top: 20px;
	letter-spacing: 2px;
	padding-bottom: 20px;
}

.selecoes-inner blockquote button {
	background-color: #f44336;
	font-size: 16px;
	padding: 14px 40px;
	border-radius: 8px;
	text-align: center;
	display: inline-block;
	position: center;
}

div.selecoescarousel {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.selecoescarousel h2 {
	color: white;
    letter-spacing: 2px;
	padding-bottom: 20px;
}

/* ===== Fim testimonial ===== */

/* ===== Início Portfolio===== */

.portfolio_menu{
	text-align: center;
	overflow: hidden;
	margin-top:22px;
	margin-bottom:48px;
}
.portfolio_menu ul{
	list-style: none outside none;
    text-align: center;
}
.portfolio_menu ul li{
    display: inline-block;
}
.portfolio_menu ul li a{
	color: #363940;
	background: transparent;
    display: inline-block;
    margin: 4px;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.portfolio_single_content{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	margin-bottom:30px;
	overflow:hidden;
	
}
.portfolio_single_content:hover img{
	 -o-transform: scale(2);
	 -webkit-transform: scale(2);
	 -moz-transform: scale(2);
	 -ms-transform: scale(2);
	 transform: scale(2);
}
.portfolio_single_content img{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 6;
	cursor:pointer;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
}
.portfolio_single_content .canv{
	width:100% !important;
	height:100% !important;
}
.portfolio_single_content div+div{
	background: none repeat scroll 0 0 rgba(255,255,255,.9);
	bottom: -100%;
	color: #FFC000;
	font-weight: bold;
	left: 0;
	margin: 0;
	min-height: 90px;
	padding:31px 5px 0 10px;
	position: absolute;
	width: 100%;
	z-index: 12;
	border-top:0;
}
.portfolio_single_content div{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:100%;
	text-align:center;
	transform:scale(0);
	transition:all .6s;
	opacity:0;
}
.portfolio_single_content:hover div{
	transform:scale(1);
	opacity:1;
}
.portfolio_single_content div a{
	color: #FFFFFF;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 40%;
	padding-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
}
.portfolio_single_content div span{
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.portfolio_content{
    margin-top: 36px;
    overflow: hidden;
}

.active_prot_menu a, .portfolio_menu ul li a:hover{
	background: #FF0000 !important;
	color: #fff !important;
}
.portfolio_single_content div{
	background: none repeat scroll 0 0 rgba( 54, 57, 64, 0.95);
}

/* ===== Fim Portifólio===== */

/* ===== Início contato ===== */

.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#contact-section {
	position: relative;
}
#contact-section h4 {
	font-weight: 400;
}
#contact-section .cover {
	background-color: rgba(5, 8, 11, 0.93);
}
#contact-section .contact .contact-form {
	margin-bottom: 40px;
}
#contact-section .contact .contact-form h4 {
	margin-bottom: 25px;
}
#contact-section .contact .contact-form .input-lg {
	font-size: 14px;
}
#contact-section .contact .contact-form button {
	width: 100%;
	height: 40px;
}
#contact-section .contact .contact-form button:hover {
	color: #fff;
}
#contact-section .contact .form-control {
	background-color: rgba(255, 255, 255, 0.06);
	border-color: #2A2A2A;
}
#contact-section .contact .form-control:focus {
	background-color: #171717;
	box-shadow: none;
}

#contact-section {
	background-color: #363940;
}
#contact-section .contact .contact-form button {
	background-color: #363940;
}
#contact-section .contact .contact-form button:hover {
	background-color: #676D75;
}

ul.contact-address {
	float: left;
	width: 100%;
	padding: 0;
	margin: 15px 0 ;
}
ul.contact-address li {
	padding: 0 0 20px;
	margin: 0;
}
ul.contact-address li:last-child {
	padding-bottom: 0;
}
ul.contact-address li i {
	margin-right: 10px;
}

/* ===== Fim contato ===== */


/* ===== Início footer ===== */

.footer-top {
	padding: 60px 0 35px;
}
.footer-top .col-md-4 {
	margin-bottom: 25px;
}
.footer {
	padding: 30px 0;
}
.footer a{
	text-decoration: none;
}

.footer-top {
	background-color: #363940;
}
.footer {
	background-color: #2d3035;
}
#subscribe > button[type="submit"] {
    background: none repeat scroll 0 0 #676D75;
}
#subscribe > button[type="submit"]:hover {
    background: none repeat scroll 0 0 #111;
}
.tweet-content span{
	color:#111;
}

/* ===== Fim footer ===== */

/* ===== Início page header ===== */
.page-header {
	margin: 0 0 60px 0;
	padding: 0;
	border: none;
}
.page-header h2 {
	text-transform: uppercase;
}
p.subtitle {
	letter-spacing: 2px;
	margin-top: 10px;
}

/* ===== Fim page header ===== */


/* ===== Início extra-space ===== */

.extra-space-m {
	width: 100%;
	height: 20px;
}
.extra-space-l {
	width: 100%;
	height: 40px;
}
.extra-space-xl {
	width: 100%;
	height: 60px;
}
.extra-space-xxl {
	width: 100%;
	height: 80px;
}

/* ===== Fim more-space ===== */


/* ===== Início OWL carousel ===== */

.owl-carousel {
	cursor: e-resize;
}
.owl-theme .owl-controls {
	margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span {
	background: rgba(0, 0, 0, 0);
	width: 14px;
	height: 14px;
	border: 3px solid #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: rgba(0, 0, 0, 0);
	border: 3px solid #fff;
}

.owl-theme .owl-controls div {
	position: absolute;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 0;
	text-align: center;
	background: transparent;
	opacity: 1;
}
.owl-theme .owl-controls.clickable div:hover {
	opacity: .5;
}
.owl-next {
	background-image: url(../img/arrow-right.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	right: 0;
}
.owl-prev {
	background-image: url(../img/arrow-left.png) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	left: 0;
}

/* ===== Fim OWL carousel ===== */


/* ===== Begin buttons ===== */
.btn {
	position: relative;
	letter-spacing: 1.5px;
	border: none;
}
.btn:active {
	top: 2px;
}

.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.btn-blank {
	border: 2px solid #fff;
	color: #fff;
	padding: 8px 12px;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-blank:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.btn-blank:hover, .btn-blank:focus, .btn-blank:active {
	color: #333;
}
.btn-blank:hover:before, .btn-blank:focus:before, .btn-blank:active:before {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.btn:active, .btn.active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.16);
}

.btn-lg {
	font-size: 1.3em;
	padding: 10px 40px;
}
.btn-lg-xl {
	font-size: 1.4em;
	padding: 10px 80px;
}

.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active { 
	background: #363940;
	color: #fff;
}
.btn-default:hover {
	color: #fff;
	background: #676D75;
}
.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	background-color: #3078B3;
	color: #FFF;
}
.btn-primary:hover {
	background-color: #1867A8;
	color: #FFF;
}


/* ==== Scroll para o início ====*/

.scrolltotop {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 30px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	z-index: 9999;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.scrolltotop .fa {
	padding-left: 4px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.scrolltotop {
	color: #FF0000;
	border: 2px solid red;
}

/* ===== End buttons ===== */


/* ===== Tabela ==== */

 * {
  box-sizing: border-box;
}

input {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table {
  background-color: #f1f1f1;
}

table th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr.header, table tr:hover {
  background-color: #f1f1f1;
}

